header, .border {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
}

.all-header-text {
  text-decoration: none;
  color: brown;
}

.all-header-text:hover {
  text-decoration: none;
  color: green;
  transition-duration: 0.75s;
}

.navbarbtns {
  font-weight: 500;
  font-size: 1.25rem;
}